body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#myHeader {
    width: 75%;
    height: 50px;
    margin: auto;
    background-color: red;
}

#logo {
    padding: 0px 10px;
    color: white;
}

#container {
    background-color: blue;
    width: 75%;
    height: 650px;
    padding: 0px;
    margin: auto;
    overflow: hidden;
}

#myCanvas {
    display: block;
    height: 600px;
    width: 800px;
    padding: 0px;
    margin: auto
}
